In [2]:
#importing required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
import seaborn as sns

In [3]:
#lets load the datasets
#
df_test = pd.read_csv('test_churn.csv')

In [4]:
df_train = pd.read_csv('Train_dsn_churn.csv')

In [8]:
df_train.shape, df_test.shape

((400000, 19), (100000, 18))

In [5]:
df_train.head()

,user_id,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,ZONE1,ZONE2,MRG,REGULARITY,TOP_PACK,FREQ_TOP_PACK,CHURN
0,dcf68cc2fb515ccad7d8b9b3bd80ee2a4b270063,SAINT-LOUIS,K > 24 month,17000.0,32.0,18000.0,6000.0,34.0,NaN,97.0,355.0,6.0,NaN,NaN,NO,62,All-net 500F=2000F;5d,35.0,0
1,71c44b5ba328db5c4192a80f7cf8f244d9350ed0,NaN,K > 24 month,4300.0,29.0,4427.0,1476.0,37.0,1764.0,8.0,3.0,0.0,NaN,2.0,NO,40,"Data: 100 F=40MB,24H",22.0,0
2,ce46411b1526c94f20a383b8cb188f8d27f82a0a,TAMBACOUNDA,K > 24 month,1500.0,3.0,1500.0,500.0,3.0,NaN,30.0,30.0,NaN,NaN,NaN,NO,32,All-net 500F=2000F;5d,3.0,0
3,f467cdb6669818373c26c2bad44e01ba66f97d21,FATICK,K > 24 month,1500.0,3.0,2497.0,832.0,4.0,0.0,159.0,45.0,19.0,NaN,NaN,NO,18,On net 200F=Unlimited _call24H,3.0,0
4,ec45e1a1888a32b5dcce0954cfec20c6e037db31,FATICK,K > 24 month,NaN,NaN,498.0,166.0,3.0,1.0,1.0,3.0,NaN,NaN,NaN,NO,50,NaN,NaN,0

In [6]:
df_test.head()

,user_id,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,ZONE1,ZONE2,MRG,REGULARITY,TOP_PACK,FREQ_TOP_PACK
0,af900d87e73b7ff6509d2203df4704a98aa5f2a6,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,1,NaN,NaN
1,5335efd940280b82143272275637d1e65d37eadb,NaN,K > 24 month,NaN,NaN,10.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NO,2,NaN,NaN
2,a581f4fa08677c26f83f643248c667e241043086,NaN,K > 24 month,1900.0,15.0,2299.0,766.0,21.0,414.0,NaN,7.0,2.0,NaN,NaN,NO,27,"Data: 100 F=40MB,24H",17.0
3,64f67177d0775262b8087a9e2e3b8061b6324ae6,DAKAR,K > 24 month,3000.0,9.0,2603.0,868.0,14.0,332.0,0.0,23.0,4.0,NaN,NaN,NO,46,IVR Echat_Daily_50F,3.0
4,0d6009a4594c4be22449b8d9cc01a0bcea98faea,DAKAR,K > 24 month,32000.0,47.0,33000.0,11000.0,47.0,NaN,128.0,555.0,280.0,NaN,NaN,NO,61,All-net 500F=2000F;5d,65.0

## General iinformation about our data

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400000 entries, 0 to 399999
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         400000 non-null  object
 1   REGION          242480 non-null  object
 2   TENURE          400000 non-null  object
 3   MONTANT         259723 non-null  float64
 4   FREQUENCE_RECH  259723 non-null  float64
 5   REVENUE         265337 non-null  float64
 6   ARPU_SEGMENT    265337 non-null  float64
 7   FREQUENCE       265337 non-null  float64
 8   DATA_VOLUME     203146 non-null  float64
 9   ON_NET          254181 non-null  float64
 10  ORANGE          233683 non-null  float64
 11  TIGO            160614 non-null  float64
 12  ZONE1           31690 non-null   float64
 13  ZONE2           25513 non-null   float64
 14  MRG             400000 non-null  object
 15  REGULARITY      400000 non-null  int64
 16  TOP_PACK        232671 non-null  object
 17  FREQ_TOP_PACK   232671 non-null  float64
 18  CHURN           400000 non-null  int64
dtypes: float64(12), int64(2), object(5)
memory usage: 58.0+ MB

In [8]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         100000 non-null  object
 1   REGION          60707 non-null   object
 2   TENURE          100000 non-null  object
 3   MONTANT         65049 non-null   float64
 4   FREQUENCE_RECH  65049 non-null   float64
 5   REVENUE         66510 non-null   float64
 6   ARPU_SEGMENT    66510 non-null   float64
 7   FREQUENCE       66510 non-null   float64
 8   DATA_VOLUME     50662 non-null   float64
 9   ON_NET          63617 non-null   float64
 10  ORANGE          58800 non-null   float64
 11  TIGO            40212 non-null   float64
 12  ZONE1           7680 non-null    float64
 13  ZONE2           6422 non-null    float64
 14  MRG             100000 non-null  object
 15  REGULARITY      100000 non-null  int64
 16  TOP_PACK        58297 non-null   object
 17  FREQ_TOP_PACK   58297 non-null   float64
dtypes: float64(12), int64(1), object(5)
memory usage: 13.7+ MB

In [9]:
def missing_values(dataframe):
    """
    This function takes a dataframe as input and returns two columns... total missing values and their percentage
    """
    total = dataframe.isnull().sum().sort_values(ascending = False)
    percent = round(total/len(dataframe)*100, 2)
    return pd.concat([total, percent], axis = 1, keys = ['Total Missing', '%Percentage'])

In [10]:
missing_values(df_train)

                Total Missing  %Percentage
ZONE2                  374487        93.62
ZONE1                  368310        92.08
TIGO                   239386        59.85
DATA_VOLUME            196854        49.21
TOP_PACK               167329        41.83
FREQ_TOP_PACK          167329        41.83
ORANGE                 166317        41.58
REGION                 157520        39.38
ON_NET                 145819        36.45
MONTANT                140277        35.07
FREQUENCE_RECH         140277        35.07
FREQUENCE              134663        33.67
ARPU_SEGMENT           134663        33.67
REVENUE                134663        33.67
TENURE                      0         0.00
CHURN                       0         0.00
MRG                         0         0.00
REGULARITY                  0         0.00
user_id                     0         0.00

In [11]:
missing_values(df_test)

                Total Missing  %Percentage
ZONE2                   93578        93.58
ZONE1                   92320        92.32
TIGO                    59788        59.79
DATA_VOLUME             49338        49.34
TOP_PACK                41703        41.70
FREQ_TOP_PACK           41703        41.70
ORANGE                  41200        41.20
REGION                  39293        39.29
ON_NET                  36383        36.38
FREQUENCE_RECH          34951        34.95
MONTANT                 34951        34.95
FREQUENCE               33490        33.49
ARPU_SEGMENT            33490        33.49
REVENUE                 33490        33.49
MRG                         0         0.00
REGULARITY                  0         0.00
TENURE                      0         0.00
user_id                     0         0.00

### Analysis:
Zone 1, Zone 2 and Tigo have very high amout of missing values, in fact,zone 1 and zone 2 have almost all their values missing. zone 1 and zone 2 are calls made to zone 1 and zone 2 respectively. Lets try to fill all the missing values using a simple technique. This is due to limited time available to work on the project

In [12]:
#lets see the different types of variables that we have
categorical_features = df_train.select_dtypes(include = ['object'])
numerical_features = df_train.select_dtypes(include = [np.number])
categorical_list = categorical_features.columns.tolist()                                        
numerical_list =  numerical_features.columns.tolist()

In [13]:
categorical_features_test = df_test.select_dtypes(include = ['object'])
numerical_features_test = df_test.select_dtypes(include = [np.number])
categorical_list_test = categorical_features.columns.tolist()                                        
numerical_lis_test =  numerical_features_test.columns.tolist()

In [14]:
len(categorical_list), len(numerical_list), len(categorical_list_test), len(numerical_lis_test)

(5, 14, 5, 14)

In [15]:
#train and test data have the same kind of data tytpes
#lets handle filling of the numerical values first
print(categorical_list)

['user_id', 'REGION', 'TENURE', 'MRG', 'TOP_PACK']

In [20]:
print(numerical_lis_test)

['MONTANT', 'FREQUENCE_RECH', 'REVENUE', 'ARPU_SEGMENT', 'FREQUENCE', 'DATA_VOLUME', 'ON_NET', 'ORANGE', 'TIGO', 'ZONE1', 'ZONE2', 'REGULARITY', 'FREQ_TOP_PACK']

In [16]:
print(numerical_list)

['MONTANT', 'FREQUENCE_RECH', 'REVENUE', 'ARPU_SEGMENT', 'FREQUENCE', 'DATA_VOLUME', 'ON_NET', 'ORANGE', 'TIGO', 'ZONE1', 'ZONE2', 'REGULARITY', 'FREQ_TOP_PACK', 'CHURN']

In [18]:
#looking at the above information, we can see that most of the numerical coluns contain missing values. we will be filling them with none
for i in numerical_list:
    df_train[i] = df_train[i].fillna(value = 0.0)

In [21]:
numerical_lis_test =  numerical_features_test.columns.tolist()
for j in numerical_lis_test:
    df_test[j] = df_test[j].fillna(value = 0.0)

In [24]:
#lets fill be missinng values in the categorical column
for k in categorical_list:
    df_train[k] = df_train[k].fillna(value = "None")
    df_test[k] = df_test[k].fillna(value = "None")

In [28]:
df_train.nunique()

user_id           400000
REGION                15
TENURE                 8
MONTANT             2422
FREQUENCE_RECH       112
REVENUE            23761
ARPU_SEGMENT       11014
FREQUENCE             92
DATA_VOLUME        22229
ON_NET              5996
ORANGE              2072
TIGO                 805
ZONE1                319
ZONE2                255
MRG                    1
REGULARITY            62
TOP_PACK             112
FREQ_TOP_PACK        171
CHURN                  2
dtype: int64

In [29]:
df_test.nunique()

user_id           100000
REGION                15
TENURE                 8
MONTANT             1270
FREQUENCE_RECH       107
REVENUE            13626
ARPU_SEGMENT        7277
FREQUENCE             92
DATA_VOLUME        11526
ON_NET              3488
ORANGE              1338
TIGO                 526
ZONE1                186
ZONE2                153
MRG                    1
REGULARITY            62
TOP_PACK              93
FREQ_TOP_PACK        131
dtype: int64

In [30]:
#we can drop the MRG colunm because it contains just one category
X = df_train.drop(["user_id", "MRG", "CHURN"], axis =1)
y = df_train["CHURN"]

X_test = df_test.drop(["user_id", "MRG"], axis = 1)

In [34]:
from sklearn.preprocessing import LabelEncoder

for i in ["REGION", "TENURE", "TOP_PACK"]:
    X[i] = LabelEncoder().fit_transform(X[i])
    X_test[i] = LabelEncoder().fit_transform(X_test[i])

In [35]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = 0.2, stratify = y, random_state = 0)
## "stratify = y", to make sure the distribution of the target "CHURN" are evenly distributed in the train and validation sets

In [32]:
import lightgbm as lgb
from lightgbm import LGBMModel,LGBMClassifier
from sklearn.preprocessing import StandardScaler#we will also try to use minmax scaler
from sklearn.pipeline import Pipeline
model3 = LGBMClassifier(n_estimators=30, silent=False, random_state =0, max_depth=5)

pipe = Pipeline([("scaler", StandardScaler()), ("model", model3)])

In [36]:
pipe.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('scaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('model',
                 LGBMClassifier(boosting_type='gbdt', class_weight=None,
                                colsample_bytree=1.0, importance_type='split',
                                learning_rate=0.1, max_depth=5,
                                min_child_samples=20, min_child_weight=0.001,
                                min_split_gain=0.0, n_estimators=30, n_jobs=-1,
                                num_leaves=31, objective=None, random_state=0,
                                reg_alpha=0.0, reg_lambda=0.0, silent=False,
                                subsample=1.0, subsample_for_bin=200000,
                                subsample_freq=0))],
         verbose=False)

In [37]:
pred = pipe.predict(X_val)

In [42]:
from sklearn.metrics import log_loss, accuracy_score
score = accuracy_score(y_val, pred)
print("Accuracy on validation set: ",score)

Accuracy on validation set:  0.8799125

In [40]:
loss = log_loss(y_val, pred)
print("log loss is: ", loss)

log loss is:  4.147714430628109

In [43]:
from sklearn.linear_model import LogisticRegression
pipe_1 = Pipeline([("scaler", StandardScaler()), ("model", LogisticRegression())])

In [44]:
pipe_1.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('scaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('model',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [45]:
pred_1 = pipe_1.predict(X_val)

In [46]:
score_1 = accuracy_score(y_val, pred_1)
print("Accuracy on validation set: ",score_1)

Accuracy on validation set:  0.8620875

In [47]:
## we fit on the entire data this time
pipe.fit(X, y)
## we are now making prediction based on the "test dataset" stores with variable name "X_test" (if lost check the celss above)
## we are using "predict_proba()" can we are required to predict the likelihood(probabilitiy) of a user churning
## "[:,1]", this helps to select only the probabilites of churning (i.e 1), if we use "[:, 0]" it selects the probalities of not-churning (i.e 0)
pred_2 = pipe.predict_proba(X_test)[:,1]
## so create a dictionary with the "user_id" from the "test_dataset" and the new predictions "pred"
## we trun the dictionary into a pandas dataframe using "pd.DataFrame()"
## we then export the dataframe into a csv file using ".to_csv"
pd.DataFrame({"user_id": df_test["user_id"], "CHURN": pred_2}).to_csv("dsn-submission_1.csv", index = False)
## gave a score of 0.3029 on the Public Leaderboard

In [48]:
submit = pd.read_csv("dsn-submission_1.csv")

In [49]:
submit.head()

                                    user_id     CHURN
0  af900d87e73b7ff6509d2203df4704a98aa5f2a6  0.745817
1  5335efd940280b82143272275637d1e65d37eadb  0.653544
2  a581f4fa08677c26f83f643248c667e241043086  0.135902
3  64f67177d0775262b8087a9e2e3b8061b6324ae6  0.009869
4  0d6009a4594c4be22449b8d9cc01a0bcea98faea  0.009519